<% layout('./layouts/boilerplate') %>
<h2>Edit Camp</h2>
<form
  action="/campgrounds/<%=campgrounds._id  %>?_method=PUT "
  method="POST"
  class=""
>
  <div>
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      name="campground[title]"
      value="<%= campgrounds.title %> "
    />
  </div>
  <div style="margin-top: 1rem">
    <label for="location" class="form-label">Location</label>
    <input
      type="text"
      class="form-control"
      name="campground[location]"
      value="<%= campgrounds.location %>"
    />
  </div>
  <div style="margin-top: 1rem">
    <label for="location" class="form-label">Image</label>
    <input
      type="text"
      class="form-control"
      name="campground[image]"
      value="<%= campgrounds.image %>"
    />
  </div>
  <div style="margin-top: 1rem">
    <label for="location" class="form-label">Price</label>
    <input
      type="number"
      class="form-control"
      name="campground[price]"
      value="<%= campgrounds.price %>"
    />
  </div>
  <div style="margin-top: 1rem">
    <label for="location" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      name="campground[description]"
      value="<%= campgrounds.description %>"
    />
  </div>
  <button class="btn btn-primary mt-3">Submit</button>
</form>
